@import "../../../node_modules/pixel-borders/src/styles/pixel-borders.scss";

.contact {
  background: url(../../img/pixel-jeff-night-shift.gif) no-repeat center/cover;
  min-height: 100vh;
  overflow: hidden;

  .container {
    line-height: 3em;
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-title {
      margin-bottom: 25px;
      font-family: 'Press Start 2P', cursive;
      font-size: 3em;
      color: #eee;
      -webkit-text-stroke: 2.5px;
      -webkit-text-stroke-color: #333;
    }
    
    .contact-resume {
      overflow: auto;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      font-size: 1.5em;
      color: #eee;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #333;
      @include pixel-borders(
        $corner-size: 2,
        $border-size: 5px,
        $border-color: #eee,
        $border-inset-color: false
      );

      .a-resume {
        text-align: center;
        animation: animate 1.5s linear infinite;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #333;
      }

      @keyframes animate{
        0%{
          opacity: 0;
        }
        50%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      }
    }
  }
}
