.footer {
  margin: 15px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .social-footer {
    display: flex;
    .footer-li {
      margin: 10px;
    }
  }

  .footer-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
    color: #eee;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: #333;

    &:hover {
      text-transform: uppercase;
      text-shadow: 0 0 10px #eee;
    }
  }
}

@media (max-width: 740px) {
  .footer {
    display: flex;
    flex-direction: column;

    .footer-title {
      margin: 15px;
      font-family: 'Press Start 2P', cursive;
      font-size: 1.3em;
      color: #eee;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #333;
    }
  }
}