@import "../../../node_modules/pixel-borders/src/styles/pixel-borders.scss";
    
.about-me {
  background: url(../../img/pixel-jeff-mario.gif) no-repeat center/cover;
  min-height: 100vh;
  overflow: hidden;
  
  .container {
    line-height: 3rem;
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about-me-title {
      margin-bottom: 25px;
      font-family: 'Press Start 2P', cursive;
      font-size: 3rem;
      color: #eee;
      -webkit-text-stroke: 2.5px;
      -webkit-text-stroke-color: #333;
    }

    .about-me-resume {
      overflow: auto;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      font-size: 1.5rem;
      color: #eee;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #333;
      @include pixel-borders(
        $corner-size: 2,
        $border-size: 5px,
        $border-color: #eee,
        $border-inset-color: false
      );
    }
  }
}
